package ui

templ mainPage(docRows []*DocRow) {
    <div class="min-w-1/2 max-w-7/8 m-auto">
        @docList("All public documents", docRows, true)
    </div>
}

templ MainPage(docRows []*DocRow) {
    @PageWrapper("Hawloom - Main", PageHeader(), mainPage(docRows))
}
