package ui

templ mainPage(docRows []*DocRow) {
    @docList("All public documents", docRows, true)
}

templ MainPage(docRows []*DocRow) {
    @pageWrapper("Hawloom - Main") {
        @pageHeader()
        @pageContent() {
            @mainPage(docRows)
        }
    }
}
